@import "tailwindcss";

:root,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #121212;
}

/* Slightly larger UI for the board */
.custom-excalidraw-styles .excalidraw {
  --ui-font: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1.1rem; /* Increases UI element size slightly */
}
